.card-wrapper {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.273);
}

.card-general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-general img {
  width: 150px;
  height: 120px;
  border-radius: 10px;
}

.card__price {

}

.card-additional {

}

.card__description {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.card__date {
  display: flex;
  justify-content: space-between;

}

.card__date svg {
  cursor: pointer;
  color:  rgb(113, 113, 113);
}

.card__date svg:hover {
  color: rgb(106, 0, 12);
}

.card-additional-horizontal {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.card-additional-horizontal svg {
  margin-left: 10px;
  color: rgb(113, 113, 113);
}

.card__likes {

}

.card__watches {

}

.icon-heart {
  border-radius: 20px 20px 0 0;

  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;

  border-left-color: black;
  border-left-width: 1px;
  border-left-style: solid;

  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;

  padding: 5px 11px 0;
  overflow: hidden;
  height: 17px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.icon-heart:hover {
  color: rgb(255, 0, 102);
  border-color: rgb(255, 0, 102);
}

a:link {
  color:black;
  text-decoration: none;
}

a:visited {
  color: black;
}